body, html {
  margin: 0;
  padding: 0;
}

.mainWrapper {
    display: flex;
}
.Sidebar {
 width: 100px;
}



.project-wrapper, .links-wrapper, .page-wrapper {
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
}
